.ProductPage {
    & .imageFull {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        overflow: hidden;

        & .dim {
            width: 100%;
            height: 100%;
            background: var(--color-light);
        }

        & .close {
            position: absolute;
            top: 24px;
            right: 12px;
        }

        & .image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100dvh;
            object-fit: contain;
        }
    }

    & .imageSlider {
        width: 100%;
        height: 60vh;
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            height: 6px;
        }

        &::-webkit-scrollbar-track {
            border-top: 1px solid var(--color-beige);
            border-bottom: 1px solid var(--color-beige);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--color-beige);
            border-radius: 50px;
        }

        & .track {
            display: flex;
            height: 100%;

            & .imageHolder {
                height: 100%;

                & img {
                    width: 100dvw;
                    height: 100%;
                    object-fit: cover;
                    object-position: center top;
                }
            }
        }
    }

    & .productInfo {
        padding: 0 12px;

        & h1 {
            margin-top: 12px;
            font-family: "Nunito Sans", sans-serif;
            font-size: 24px;
            font-weight: 700;
            color: var(--color-dark);
            margin-bottom: 24px;
            text-align: left;
        }

        & .showAllCollection {
            text-align: right;
        }

        & .row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            row-gap: 6px;
            margin-bottom: 18px;
            width: 100%;

            & .optionsSection {
                & .optionHolder {
                    & .availableOptions {
                        display: flex;

                        & .option {
                            width: 32px !important;
                            height: 32px !important;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid var(--color-dark);
                            border-radius: 2px;
                            margin-right: 16px;
                            font-size: 18px;
                            font-family: "Nunito Sans", sans-serif;
                            text-decoration: none;

                            &:last-of-type {
                                margin-right: 0px;
                            }
                        }
                    }
                }
            }

            & .price {
                font-family: "Nunito Sans", sans-serif;
                font-size: 22px;
                font-weight: 600;
            }

            & .warning {
                width: 100%;
                padding: 12px 12px 6px 12px;
                border: 1px solid var(--color-beige);
                border-radius: 4px;
                margin-bottom: 9px;

                & .warningHeader {
                    font: "Poppins", sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                    color: var(--color-beige);
                    margin-bottom: 6px;
                }

                & p {
                    font-size: 12px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    color: var(--color-dark);

                    &:nth-of-type(3) {
                        margin-bottom: 9px;
                    }
                }

                & a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    font-size: 13px;
                    font-family: "Poppins", sans-serif;
                    color: var(--color-beige);

                    & .arrow {
                        width: 16px;
                        height: 6px;
                        background-image: url("./../../../public/icons/beige/small-arrow-right.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                        margin-left: 6px;
                    }
                }
            }

            & form {
                width: 100%;
                max-width: 100%;

                & .addToCart {
                    width: 100% !important;
                    height: 42px;
                    border: 1px solid var(--color-dark);
                    border-radius: 4px;
                    background: var(--color-dark);
                    color: var(--color-light);
                    cursor: pointer;
                    font-family: "Poppins", sans-serif;

                    &:hover {
                        transform: scale(0.95);
                    }
                }
            }

            & .chooseSize {
                width: 100%;
                padding: 8px;
                text-align: center;
                background: var(--color-dark);
                color: var(--color-light);
                border-radius: 4px;
                font-family: "Poppins", sans-serif;
                font-size: 14px;
            }

            & .infoAboutAvailable {
                width: 100%;

                & .informMeAboutAvailability {
                    width: 100% !important;
                    height: 42px;
                    border: 1px solid var(--color-dark);
                    border-radius: 4px;
                    background: var(--color-dark);
                    color: var(--color-light);
                    cursor: pointer;
                    font-family: "Poppins", sans-serif;

                    &:hover {
                        transform: scale(0.95);
                    }

                    &.empty {
                        background: transparent;
                        color: var(--color-dark);
                        font-weight: 600;
                    }

                }

                & form {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    & input {
                        margin: 0px;
                        width: 75%;
                        height: 42px;
                        border: 1px solid var(--color-dark);
                        color: var(--color-dark);
                        background: var(--color-light);
                        border-radius: 4px 0 0 4px;
                        text-align: center;
                        font-family: "Poppins", sans-serif;
                    }

                    & button {
                        width: 25%;
                        height: 42px;
                        border: 1px solid var(--color-dark);
                        border-radius: 0 4px 4px 0;
                        background: var(--color-dark);
                        color: var(--color-light);
                    }
                }

                & .success {
                    border: 1px solid var(--color-gray);
                    border-radius: 4px;
                    background: var(--color-green-hover);
                    color: var(--color-light);
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 9px 0;
                    text-align: center;
                }
            }
        }

        & .column {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 6px;

            & .showSizeTable {
                text-decoration: none;
                display: inline-flex;
                align-items: center;
                justify-content: center;


                & .icon {
                    width: 24px;
                    height: 24px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-right: 4px;

                    &.size {
                        background-image: url("./../../../public/icons/beige/metr-krawiecki.png");
                    }

                    &.collection {
                        background-image: url("./../../../public/icons/beige/kolekcja-ikona.png");
                    }
                }

                & .label {
                    color: var(--color-beige);
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

        }


        & .shortDescription {
            color: var(--color-dark);
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            margin-top: 16px;
        }

        & h2 {
            text-align: left;
            margin-top: 24px;
            margin-bottom: 12px;
        }

        & .bulletPoints {
            display: flex;
            flex-wrap: wrap;
            row-gap: 6px;

            & .bullet {
                /* min-width: 120px; */
                margin-right: 18px;
                display: flex;
                align-items: center;

                & .icon {
                    width: 16px;
                    height: 24px;
                    margin-right: 6px;
                    background-image: url("./../../../public/icons/beige/ok.png");
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                }

                & .label {
                    font-family: "Poppins", sans-serif;
                    font-size: 13px;
                }


            }
        }

        & .showMoreDetails {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 24px;
            margin-bottom: 12px;
            padding-bottom: 6px;
            border-bottom: 1px solid var(--color-beige);

            & button {
                background: transparent;
                border: none;
                font-family: "Poppins", sans-serif;
                font-size: 18px;
                cursor: pointer;
            }
        }

        & .fillWithData {
            width: 100%;

            & .longDescription {
                font-family: "Poppins", sans-serif;
                font-size: 14px;
                color: var(--color-dark);
            }

            & .aboutProduct {
                & p {
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    color: var(--color-dark);
                    margin-bottom: 3px;

                    & .label {
                        font-weight: 600;
                        margin-right: 3px;
                    }
                }
            }

            & .sizeTable {
                text-align: center;

                & img {
                    width: 100%;
                    max-width: 300px;
                    object-fit: contain;
                }

                & table {
                    text-align: left;
                    border-collapse: collapse;
                    width: 100%;

                    & tr {
                        display: table-row;
                        border-bottom: 1px solid grey;
                        height: 24px;
                    }
                }
            }
        }
    }
}

@media(min-width: 768px) {
    .ProductPage {
        display: flex;

        & .imageSlider {
            width: 60%;
            height: unset;
            overflow: hidden;

            & .track {
                height: unset;
                display: flex;
                flex-wrap: wrap;

                & .imageHolder {
                    width: 49%;
                    height: 100%;

                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center top;
                    }
                }
            }
        }


        & .productInfo {
            width: 40%;
        }


    }
}

@media(min-width: 1200px) {
    .ProductPage {
        & .imageSlider {
            width: 70%;
        }

        & .productInfo {
            width: 30%;
        }
    }
}