.menuAside {
    &:target aside {
        transform: translate(320px) !important;
    }

    & .closeOutside {
        background: transparent;
        border: none;
        color: transparent;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%
    }

    & .menu {
        width: 100%;
        max-width: 320px;
        min-width: unset;
        background: white;
        left: -320px;
        right: unset;
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        &::-webkit-scrollbar {
            display: none;
        }

        & header {
            padding: 0px 20px;
            margin: 24px 0;
            height: unset;
            border-bottom: unset;

            & h3 {
                font-family: "Nunito Sans", sans-serif;
                font-size: 24px;
                font-weight: 500;
                line-height: 32px;
                max-width: 180px;
            }

            & .close {
                margin-top: -18px;

                &:hover {
                    transform: scale(0.85);
                }
            }
        }

        & main {
            margin: 0px;
            padding: 0 20px;

            & .categories {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                column-gap: 44px;
                row-gap: 16px;
                /* overflow: hidden; */

                & .categoryTile {
                    width: 64px;
                    text-decoration: none;

                    & .imageHolder {
                        box-sizing: border-box;
                        width: 64px;
                        height: 64px;
                        border: 1px solid black;
                        border-radius: 4px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }

                    & .categoryTitle {
                        width: 100%;
                        text-align: center;
                        font-family: "Nunito Sans", sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        color: black;
                        margin-top: 2px;
                    }

                    &:hover {
                        cursor: pointer;
                        transform: scale(0.9);
                    }

                    &.dummy {
                        position: relative;

                        & .badge {
                            position: absolute;
                            top: -12px;
                            right: -14px;
                            font-size: 10px;
                            font-family: "Poppins", sans-serif;
                            background-color: var(--color-beige);
                            color: var(--color-light);
                            padding: 3px 6px;
                            border-radius: 2px;
                            text-transform: uppercase
                        }
                    }
                }
            }

            & .allProdSection {
                width: 100%;
                margin-top: 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & .allProdsButton {
                    margin-top: -6px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    text-decoration: none;
                    font-family: "Nunito Sans", sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    color: black;
                    padding: 6px 12px;
                    border: 1px solid black;
                    border-radius: 4px;
                    width: 48%;

                    & img {
                        width: 28px;
                        max-width: 28px;
                        height: 28px;
                        margin-bottom: 6px;
                    }

                    &:hover {
                        cursor: pointer;
                        transform: scale(0.9);
                    }
                }
            }

            & .baner {
                margin: 18px 0;
                width: 100%;

                & img {
                    width: 100%;
                }
            }

            & .links {
                width: 100%;

                & .link {
                    margin-bottom: 18px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    text-decoration: none;
                    width: fit-content;

                    & .icon {
                        margin-right: 18px;
                    }

                    & .linkTitle {
                        font-family: "Nunito Sans", sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        color: black;
                        transition: 0.2s linear;
                    }

                    &:hover {
                        .linkTitle {
                            translate: 12px 0;
                        }
                    }
                }
            }
        }

        & footer {
            display: none;
        }

        @media(min-height: 800px) {
            & footer {
                display: block;
                width: 100%;
                position: relative;
                margin-top: auto;
                margin-bottom: 0px;

                & img {
                    position: absolute;
                    bottom: 0;
                    right: 18px;
                }
            }
        }
    }
}